@keyframes rotation {
  from {
      transform: rotate(-15deg);
  }
  to {
      transform: rotate(375deg);
  }
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
  animation: rotation 20s linear infinite;
}
