.feinman__link {
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  top: 50%; /* половина высоты секции, так верно? */
  right: 48px;
  color: black;
  transition: opacity 1s;
}
.feinman__link::after {
  content: '\2192';
  color: black;
}
.feinman__link:hover {
  text-decoration: underline;
  opacity: .7;
}
