@import url(./__triangle/kaufman__triangle.css);
.kaufman {
  display: flex;
  flex-direction: column;
  background-color:  #1F1F1F;
  position: relative;
  overflow: hidden;
  padding: 90px 0 90px 0;
}
