@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: 0;
  animation: rotation 20s linear infinite;
}
