.kaufman__triangle {
  background-image: url(../../../images/triangle.svg);
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: 0;
  animation: rotation 20s linear infinite;
}
