@import url(./__link/feinman__link.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__title/feinman__title.css);
.feinman {
  height: 790px;
  background-color: #F2F2F2;
  background-image: url(../../images/feinman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 80px;
}
