.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    position: relative;
    display: flex;
    background-color: #F2F2F2;
}
.header__title {
    margin: auto 0 auto 64px;
    width: 730px;
    font-size: 102px;
    line-height: 92px;

}
.header__subtitle {
    position: absolute;
    width: 388px;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}
.header__link {
  text-decoration: none;
}
.header__link::after {
    content: '\2192';
}
.header__img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.logo {
    background-image: url("../images/logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 183px;
    height: 32px;
}
.logo__header {
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 2;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    position: absolute;
    right: 0;
    top: 64px;
    z-index: 0;
}
.description {
  display: flex;
}
.two-columns {
  margin: 100px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}
.two-columns__paragraph-middle {
  margin: 30px 0;
}
.two-columns__span-accent {
  font-weight: bold;
}
.digits {
  display: flex;
  flex-direction: column;
}
.section-title {
  margin: 100px auto 0 auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bolder;
  width: 60%;
  text-align: center;
}
.section-subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0 auto;
  width: 60%;
  text-align: center;
}
.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 60px auto 100px auto;
  justify-content: space-between;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}
.feinman {
  height: 890px;
  background-color: #F2F2F2;
  background-image: url(../images/feinman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.feinman__title {
  line-height: 1.15;
  font-size: 120px;
  margin: 100px 0 0 0;
  width: 648px;
  text-align: center;
}
.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
  margin-top: 70px 0 0 0;
}
.feinman__link {
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  top: 395px;
  right: 48px;
  color: black;
}
.feinman__link::after {
  content: '\2192';
}
.kaufman {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}
.table_theme_dark {
  z-index: 1;
  margin: 0 auto 90px auto;
}
.section-title_theme_dark {
  color: white;
}
.section-subtitle_theme_dark {
  color: white;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
.kaufman__triangle {
  position: absolute;
  right: -210px;
  z-index: 0;
}
.footer {
  background-color: black;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer__columns {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: white;
  min-height: 410px;
  width: 90%;

}
.logo_place-footer {
  background-image: url("../images/logo_white.svg");
  position: absolute;
  z-index: 2;
}
.footer__column-content_copyright {
  flex-basis: 711px;
  align-self: flex-end;
  line-height: 25px;
  font-size: 18px;
}
.footer__column-links {
  display: block;
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;

}
.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}
