.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2F80ED;
  text-decoration: none;
  transition: opacity 1s;
}
.khan__buy-link:hover {
  text-decoration: underline;
  opacity: .7;
}
.khan__buy-link::after {
    content: '\2192';
}
